@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #333;
  --primary: #00abef;
  --card: #fff;
}

.dark {
  --background: #333;
  --foreground: #fff;
  --primary: #00abef;
  --card: #1d1d1d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Vazir, Tahoma, sans-serif, "Poppins";
}

/* keyframes خارج از @layer */
@keyframes float1 {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-14px);
  }
}
@keyframes float3 {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-6px);
  }
}

@layer components {
  .card-shadow {
    @apply shadow-[0_4px_12px_rgb(0,0,0,0.2)];
  }

  .circle-icon {
    @apply flex items-center justify-center rounded-full w-11 h-11 md:w-14 md:h-14 bg-[#fffafa] absolute dark:bg-[#0000004b];
  }
  .highlight {
    @apply bg-[var(--primary)] text-white px-5 rounded-[4px];
  }
  .section_contents {
    @apply w-full flex flex-col items-center gap-10 md:gap-[50px];
  }
  .card {
    @apply bg-[var(--card)] rounded-lg shadow-[0_4px_12px_rgb(0,0,0,0.2)];
  }
}
